<h3>news you can subscribe to!</h3>
  <%@providers.each do |provider|%>
    <%if provider.subscriptions.where(user_id: @user.id) == [] %>
    <form action="/news/<%=provider.id%>/subscribe" method="post">
      <%= provider.name%>
      <input class="sub" type="submit" value="subscribe!">
      </form>
      <br>
      <%else%>
      <form  action="/news/<%=provider.id%>/unsubscribe" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= provider.name%>
      <input class="unsub" type="submit" value="unsubscribe">
      </form>
      <br>
      <%end%>
  <%end%>

<center>
<h3>latest from your subscribed news:</h3>
</center>
<%@subscriber_feed.each_slice(3) do |subscriptions|%>
  <div class="col-md-6">
    <% subscriptions.each do |sub| %>
    <center>
    <h4><%=sub.provider.name%></h4>
    </center>
    <%sub.articles.first(5).each do |article|%>
    <ul>
    <li> <a href="<%=article.url %>"> <%=  article.title  %> </a>
    </li>
    </ul>
    <%end%>
    <%end%>
  </div>
<%end%>
