<h3>news you can subscribe to!</h3>
  <%@providers.each do |provider|%>
    <%if provider.subscriptions.where(user_id: @user.id) == [] %>
    <form action="/news/<%=provider.id%>/subscribe" method="post">
      <%= provider.name%>
      <input type="submit" value="subscribe!">
      </form>
      <br>
      <%else%>
      <form action="/news/<%=provider.id%>/unsubscribe" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= provider.name%>
      <input type="submit" value="unsubscribe">
      </form>
      <br>
      <%end%>
  <%end%>

<center>
<h3>latest from your subscribed news:</h3>
</center>
<%@subscriber_feed.each do |subs|%>
  <div class="col-md-4">
  <center>
  <h4><%=subs.articles.first.provider.name%></h4>
  </center>
  <ul>
  <%subs.articles.first(3).each do |article|%>
  <li>
  <a href="<%=article.url %>"> <%=  article.title  %> </a>
    </li>
    <br>
    <% end %>
    </ul>
    <br>
    </div>
<%end%>
