<br><br><br>
<center><h2>Featured Headlines</h2> </center>
<div class="col-md-4">
   <h3> IGN News </h3>
    <ul>
     <% @ign_api["articles"].each do |article|  %>
     <li>
      <a href="<%=article["url"] %>"> <%=  article["title"]  %> </a>
    </li>
    <% end %>
  </ul>
</div>
<div class="col-md-4">
 <h3> TechCrunch News </h3>
  <ul>
   <% @techcrunch_api["articles"].each do |article|  %>
   <li>
    <a href="<%=article["url"] %>"> <%=  article["title"]  %> </a>
  </li>
  <% end %>
</ul>
</div>
<div class="col-md-4">
  <h3> HackerNews </h3>
<ul>
 <% @hackernews_api["articles"].each do |article|  %>
 <li>
  <a href="<%=article["url"] %>"> <%=  article["title"]  %> </a>
</li>
<% end %>
</ul>
</div>


