<center><h1>Newsy</h1> </center>
<div class="col-md-4">
   <h2> IGN News </h2>
    <ul>
     <% @ign_api["articles"].each do |article|  %>
     <li>
      <a href="<%=article["url"] %>"> <%=  article["title"]  %> </a>
    </li>
    <% end %>
  </ul>
</div>
<div class="col-md-4">
 <h2> TechCrunch News </h2>
  <ul>
   <% @techcrunch_api["articles"].each do |article|  %>
   <li>
    <a href="<%=article["url"] %>"> <%=  article["title"]  %> </a>
  </li>
  <% end %>
</ul>
</div>
<div class="col-md-4">
  <h2> HackerNews </h2>
<ul>
 <% @hackernews_api["articles"].each do |article|  %>
 <li>
  <a href="<%=article["url"] %>"> <%=  article["title"]  %> </a>
</li>
<% end %>
</ul>
</div>


